<ng-container *ngIf="data">
    <table class="tables-Tuition" >
        <tbody>
            <tr>
                <td colspan="5" class="text-center tuition-table-header">
                    <ng-container *ngIf="(hocky==='0' && namhoc==='0') ; else khac0">
                        Tất cả
                    </ng-container>
                    <ng-template #khac0>
                        <ng-container *ngIf="hocky != '0' && namhoc != '0'; else _1trong2bang0">
                            Học kỳ {{hocky}} năm học {{namhoc}}
                        </ng-container>
                        <ng-template #_1trong2bang0>
                            <ng-container >
                                <ng-container *ngIf="hocky === '0'; else namhoc0">
                                    Tất cả học kỳ của năm học {{namhoc}}
                                </ng-container>
                                <ng-template #namhoc0>
                                    Học kỳ {{hocky}} của tất cả năm học
                                </ng-template>
                            </ng-container>
                        </ng-template>
                    </ng-template>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th style="width: 13%;" scope="col">Tiêu đề</th>
                                <th scope="col">Học phí</th>
                                <th scope="col">Tên học kỳ</th>
                                <th scope="col">Miễn giảm</th>
                                <th scope="col">Phải thu</th>
                                <th scope="col">Học bổng</th>
                                <th scope="col">Đã thu</th>
                                <th scope="col">Còn nợ</th>
                                <th style="width: 8%;" scope="col">Ghi chú</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngIf="data.length > 0 else noData">
                                <tr *ngFor="let item of data; index as i">
                                    <ng-container>
                                        <td class="td-stt">{{i+1}}</td>
                                        <td>{{item.ten_nhom_ct}}</td>
                                        <td>{{customMoney(item.hoc_phi)}}</td>
                                        <td>{{item.ten_hoc_ky}}</td>
                                        <td>{{customMoney(item.mien_giam)}}</td>
                                        <td>{{customMoney(item.phai_thu)}}</td>
                                        <td>{{item.tong_hoc_bong}}</td>
                                        <td>{{customMoney(item.da_thu)}}</td>
                                        <td>{{customMoney(item.con_no)}}</td>
                                        <td>{{item.ghi_chu}}</td>
                                    </ng-container>
                                </tr>
                                <tr>
                                    <td colspan="6" class="td-total">Tổng cộng</td>
                                    <td colspan="4" class="td-total">{{totalHocPhi}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="td-total">
                                        Miễn giảm
                                    </td>
                                    <td colspan="4" class="td-total">{{totalMienGiam}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="td-total">
                                        Phải đóng
                                    </td>
                                    <td colspan="4" class="td-total">{{totalPhaiThu}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="td-total">
                                        Đã đóng
                                    </td>
                                    <td colspan="4" class="td-total">{{totalDaThu}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="td-total">
                                        Còn nợ
                                    </td>
                                    <td colspan="4" class="td-total">{{totalConNo}}</td>
                                </tr>
                            </ng-container>
                            <ng-template #noData>
                                <tr>
                                    <td colspan="9" class="text-center">
                                    Không có dữ liệu
                                    </td>
                                </tr>
                                </ng-template>
                            </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
<div class="my-2 note">
    <table>
        <tbody>
            <tr>
                <td>
                    <span>Sinh viên nộp học phí vào 01 trong 05 ngân hàng (Agribank, HDBank, Sacombank, Vietcombank ,BIDV)</span><br>
                    <span style="color: red;">Nội dung chuyển khoản theo cú pháp: MSSV – Họ tên sv – số điện thoại</span><br>
                    <span>Thông tin từng ngân hàng sinh viên xem tại đây <a href="#">link</a></span><br>
                    <span>Hạn chót đóng học phí: <b>31/08/2023</b></span><br>
                    <span style="color: red;">Sau thời hạn đóng học phí, sinh viên không đóng học phí sẽ bị hủy kết quả học tập những học phần nợ học phí trong học kỳ đó và buộc phải đóng học phí còn nợ cùng lúc với học phí của học kỳ tiếp theo.</span><br>
                    <span style="color: red;">Không đóng học phí 02 học kỳ liên tiếp sẽ bị buộc thôi học.</span><br>
                    <span>Nếu có bất kỳ sai sót nào liên quan đến tiền học phí sinh viên vui lòng liên hệ phòng tài chính:   <b>ptchinh@edu.adu.vn</b></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>