<!-- class="d-flex justify-content-between" -->
<div class="d-flex justify-content-between position-relative">
    <div class="header-logo">
        <div>
            <img width="70px" src="../../../assets/images/graduation-cap.png" alt="">
            <span class="title ms-3">
                HỆ THỐNG QUẢN LÝ
            </span>
        </div>
    </div>
    <!-- <div class="header-img "> -->
        <div class="w-100 position-absolute text-center">
            <div class="header-img d-inline-block ">
                <div class="position-relative img-header text-center">
                    <img style="height: 95px;" src="../../../assets/images/College-Education.jpg" alt="" class="d-block">
                </div>
            </div>
        </div>
    <!-- </div> -->
    <div class="align-self-center btn-ground-header">
        <button class="me-3 btn-header" routerLink="/home">
            <i class="fa fa-home icon-header" aria-hidden="true"></i>
            <span class="btn-title-header">
                Trang chủ
            </span>
        </button>
        <button class="btn-header" (click)="logout()">
            <i class="fa fa-sign-out icon-header" aria-hidden="true"></i>
            <span class="btn-title-header">
                Đăng xuất
            </span>
        </button>
    </div>
</div>