.title {
    font-size: 21px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

.btn-header {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 700;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid white;
    box-shadow: 1px 1px 0.5px 0.5px var(--border-home);
}

.btn-header:hover {
    opacity: 0.9;
}


.icon-header {
    font-size: 20px;
}

.header-logo {
    height: 95px;
    display: flex;
    align-items: center;
}

.header-img {
    /* display: inline-block;
    width: 100%; */
    text-align: center;
}

.btn-ground-header {
    z-index: 2;
}

.img-header::after {
    position: absolute;
    content: '';
    background: linear-gradient(to right, var(--main-color), white);
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    opacity: 0.5;
}

.img-header::before {
    position: absolute;
    content: '';
    background: linear-gradient(to left, var(--main-color), white);
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    opacity: 0.5;
}