<div class="d-flex justify-content-between">
    <div class="header-logo">
        <div>
            <img width="70px" src="../../../assets/images/graduation-cap.png" alt="">
            <span class="title ms-3">
                HỆ THỐNG QUẢN LÝ
            </span>
        </div>
    </div>
    <div class="align-self-center">
        <button class="me-3 btn-header" routerLink="/home">
            <i class="fa fa-home icon-header" aria-hidden="true"></i>
            <span class="btn-title-header">
                Trang chủ
            </span>
        </button>
        <button class="btn-header" (click)="logout()">
            <i class="fa fa-sign-out icon-header" aria-hidden="true"></i>
            <span class="btn-title-header">
                Đăng xuất
            </span>
        </button>
    </div>
</div>