.title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

.btn-header {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 700;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid white;
    box-shadow: 1px 1px 0.5px 0.5px var(--border-home);
}

.btn-header:hover {
    opacity: 0.9;
}


.icon-header {
    font-size: 20px;
}

.header-logo {
    height: 120px;
    display: flex;
    align-items: center;
}