<div class="container">
    <table class="table table-striped mt-3 infoDetail-table">
        <tbody>
            <tr>
                <td colspan="4" class="text-center inforDetail-title">
                    Thông tin sinh viên
                </td>
            </tr>
            <tr>
                <td colspan="4" class="inforDetail-header">
                    Lý lịch
                </td>
            </tr>
            <tr>
                <td>Mã số sinh viên</td>
                <td>{{dataSV?.ma_sv}}</td>
                <td>Họ tên</td>
                <td>{{dataSV?.ten_day_du}}</td>
            </tr>
            <tr>
                <td>Giới tính</td>
                <td>{{dataSV?.ma_sv}}</td>
                <td>Ngày sinh</td>
                <td>{{dataSV?.ten_day_du}}</td>
            </tr>
        </tbody>
    </table>
</div>