.content-home {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-infor {
    width: 50%;
    border: 1px solid var(--border-home);
    border-radius: 5px !important;
}

.field-infor {
    font-weight: 700;
    color: var(--main-color);
}

.table-main {
    border-collapse: unset;
}

.btn-detail-infor {
    margin: 20px;
    color: green;
    font-size: 17px;
    cursor: pointer;
}

.btn-detail-infor:hover {
    opacity: 0.5;
}

.header-tables-home {
    color: var(--main-color);
}

.tr-infor-family {
    margin-top: 20px !important;
}

.note-infor {
    font-style: italic;
    font-size: 13px;
}

.table-info-family td {
    padding: 0;
}

.contain-table-info-family {
    padding: 10px;
    border: 1px solid var(--main-color);
}

.table-cvht td, .table-funtions td {
    padding: 3px;
}

.img-icon-home {
    width: 20%;
}