<div class="content-tuition">
    <ng-container *ngIf="dataSelected.length > 0 || dataTuition.length > 0; else NoData">
        <table class="parent-table">
            <tbody>
                <tr>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="5" class="text-center tuition-table-header">
                                        Thông tin học phí
                                    </td>
                                </tr>
                                <tr class="tr-lietkeTuition">
                                    <td class="td-lietkeTuition">
                                        <table>
                                            <tbody>
                                                <tr class="text-center">
                                                    <td style="width: 30%;" class="text-end">Năm học</td>
                                                    <td>
                                                        <select class="select-lietke" name="" id="namhoc" [(ngModel)]="namhoc">
                                                            <option value="2020 - 2021">2020-2021</option>
                                                            <option value="2021 - 2022">2021-2022</option>
                                                            <option value="2022 - 2023">2022-2023</option>
                                                            <option value="2023 - 2024">2023-2024</option>
                                                            <option value="0">Tất cả</option>
                                                        </select>
                                                    </td>
                                                    <td class="text-start">Học kỳ</td>
                                                    <td class="text-start">
                                                        <select class="select-lietke" name="" id="hocky" [(ngModel)]="hocky">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="0">Tất cả</option>
                                                        </select>
                                                    </td>
                                                    <td style="width: 30%;" class="text-start">
                                                        <button class="btn-lietke" id="btnLietke" (click)="onclickLietke()">
                                                            Liệt kê
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
        
                        <!-- Bảng thành phần -->
                        <div *ngIf="isLietKe">
                            <app-table-tuition [data]="dataSelected" [hocky]="hocky" [namhoc]="namhoc"></app-table-tuition>
                        </div>
        
                        <div *ngIf="!isLietKe">
                            <app-table-tuition [data]="dataTuition" [hocky]="hocky" [namhoc]="namhoc"></app-table-tuition>
                        </div>
                        <div class="text-center">
                            <button routerLink="/home" class="btn-back">Trở lại</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #NoData>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>