table {
    width: 100%;
}

.parent-table {
    margin: 20px 0;
}

.learning-result-table-header {
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    font-size: 13px ;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.tables-Result {
    margin-top: 20px;
}

.table-tk td {
    width: 25%;
}

th {
    text-align: center;
}

.note {
    background-color: aliceblue;
    padding: 5px;
    font-size: 13px;
}

.content-learning-result {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.xem-diem {
    cursor: pointer;
}