<ng-container *ngIf="data">
    <table class="tables-Result mx-3 mt-3">
        <tbody>
            <tr>
                <td colspan="5" class="text-center marks-table-header">
                    Điểm thành phần - {{data.ten_mon}}
                </td>
            </tr>
            <tr>
                <td>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Ký hiệu</th>
                                <th scope="col">Tên thành phần</th>
                                <th scope="col">Trọng số</th>
                                <th scope="col">Điểm thành phần</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngIf="data.ds_diem_thanh_phan">
                                <tr *ngFor="let value of data.ds_diem_thanh_phan; index as i">
                                    <td class="text-center">{{i+1}}</td>
                                    <td class="text-center">{{value['ky_hieu']}}</td>
                                    <td>{{value['ten_thanh_phan']}}</td>
                                    <td class="text-center">{{value['trong_so']}}</td>
                                    <td class="text-center">{{value['diem_thanh_phan']}}</td>
                                </tr>
                            </ng-container>
                          </tbody>
                    </table>
                    <div class="d-flex flex-row-reverse">
                        <button style="width: 80px;" class="btn btn-success mb-2 me-3" (click)="closeDialog()">
                            Đóng
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>