<table class="parent-table">
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td colspan="5" class="text-center education-program-table-header">
                                Xem chương trình đào tạo
                            </td>
                        </tr>
                        <tr class="tr-lietkeCTDT">
                            <td class="td-lietkeCTDT">
                                <table>
                                    <tbody>
                                        <tr class="text-center">
                                            <td style="width: 30%;" class="text-end">Năm học</td>
                                            <td>
                                                <select class="select-lietke" name="" id="">
                                                    <option value="2020-2021">2020-2021</option>
                                                    <option value="2021-2022">2021-2022</option>
                                                    <option value="2022-2023">2022-2023</option>
                                                    <option value="2023-2024">2023-2024</option>
                                                    <option value="0">Tất cả</option>
                                                </select>
                                            </td>
                                            <td class="text-start">Học kỳ</td>
                                            <td class="text-start">
                                                <select class="select-lietke" name="" id="">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="0">Tất cả</option>
                                                </select>
                                            </td>
                                            <td style="width: 30%;" class="text-start">
                                                <button class="btn-lietke">
                                                    Liệt kê
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Bảng thành phần -->
                <div *ngIf="!isCheckLietKe">
                    <table class="tables-CTDT">
                        <tbody>
                            <tr>
                                <td colspan="5" class="text-center education-program-table-header">
                                    Học kỳ 1 Năm học 2020-2021
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                              <th scope="col">STT</th>
                                              <th scope="col">Mã môn học</th>
                                              <th scope="col">Tên môn học</th>
                                              <th scope="col">Số TC</th>
                                              <th scope="col">Bắt buộc</th>
                                              <th scope="col">Số tiết LT</th>
                                              <th scope="col">Số tiết TH</th>
                                              <th scope="col">Môn đã học</th>
                                              <th scope="col">Ghi chú</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <ng-container *ngIf="dataCTDT && dataCTDT[0]">
                                                <tr *ngFor="let value of dataCTDT[0].ds_CTDT_mon_hoc; index as i">
                                                  <td>{{i+1}}</td>
                                                  <td>{{value.ma_mon}}</td>
                                                  <td>{{value.ten_mon}}</td>
                                                  <td>{{value.so_tin_chi}}</td>
                                                  <td>{{value.mon_bat_buoc}}</td>
                                                  <td>{{value.ly_thuyet}}</td>
                                                  <td>{{value.thuc_hanh}}</td>
                                                  <td>{{value.mon_da_hoc}}</td>
                                                  <td></td>
                                                </tr>
                                            </ng-container>
                                          </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>