.contain-content-home {
    border-radius: 5px;
    border: 1px solid var(--border-home);
}

._root {
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    border-top: 1px dashed var(--border-home);
    border-bottom: 1px dashed var(--border-home);
}